wp-admin/
wp-includes/
*

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*

!wp-content/plugins/openweathermap-wp



# ignore log files and databases
*.log
*.sql
*.sqlite


credenciales.txt